<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>店铺收藏</title>
<link href="css/shop_xq.css" rel="stylesheet" type="text/css"/>
<link href="css/collect.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<body>
<!--top-->
<div class="public_top">
	<div class="wrapper_top">
		<div class="user">
		<span>手机五维商城</span>
		<span>[登陆]</span>
		<span>新用户？</span>
		<span>[免费注册]</span>
		</div>
		<div class="menu_right">
		<ul class="menu_top">
		<li class="menu_1">五维商城首页</li><span class="icon_y">|</span>
		<li class="menu_2">个人中心<span class="clcle"></span></li><span class="icon_y">|</span>
		<li class="menu_3">进货单</li><span class="icon_y">|</span>
		<li class="menu_4">收藏夹<span class="sl">0</span></li><span class="icon_y">|</span>
		<li class="menu_5">客服中心</li>
		</ul>
		</div>
	</div>
</div>
<!--header-->
<div class="header">
	<div class="header_con">
	<div class="logo_collect">
	<span class="logo_jinhuo"><img src="images/logo.png" width="180" height="55" title="" alt=""/></span>
	<span class="line-y-bg"></span>
	<span class="collect_img">我的收藏夹</span></div>
	<ul class="nav_coll">
		<li class="s_num1"><a href="collect.html">收藏的商品</a></li>
		<li class="s_num2" style="background: #ef5e00;"><a>收藏的供应商</a></li>
	</ul>
	</div>
</div><!--header-->
<div class="wrapp">
	<div class="wrap_con">
	<h1 class="top_coll">全部收藏<span>5</span></h1>
	<div class="midd_coll"><a href="javascipt:void(0);"><span class="all_s">全部货品</span></a><span>|</span>
	<a href="javascipt:void(0);"><span class="time_s">收藏时间</span></a></div>
	<div class="foot" id="foot">
		<!--<label class="fl select-all"><input type="checkbox" class="check-all check"/></label><a class="qx">全选</a>-->
		<input type="checkbox" id="CheckedAll" class="check-all check" /><a class="scl">全选</a>
		<a class="fl delete" id="deleteAll" href="javascript:(void);"></a><a class="s1">删除</a>
	</div>
		<div class="scdp_list">
			<table id="table">
			<tbody>
				<tr class="pro_dp">
					<td class="del del_dp"></td>
					<td class="checkbox"><input type="checkbox" name="items" value="足球"/></td>
				    <td class="company_name">
					<span class="company_mz">杭州卓华卫浴洁具有限公司</span>
					<span class="connect_con"><span class="connect"><i class="ww_icon"><img src="images/ww.png" width="23" height="25"/></i>
					<i>和我联系</i></span></span>
					<span class="collect_rq">收藏人气：554</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_look">
					<span class="jindian_look">进店查看</span>
					</td>
				</tr>
				<tr class="pro_dp">
					<td class="del del_dp"></td>
					<td class="checkbox"><input type="checkbox" name="items" value="足球"/></td>
				    <td class="company_name">
					<span class="company_mz">杭州卓华卫浴洁具有限公司</span>
					<span class="connect_con"><span class="connect"><i class="ww_icon"><img src="images/ww.png" width="23" height="25"/></i>
					<i>和我联系</i></span></span>
					<span class="collect_rq">收藏人气：554</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_look">
					<span class="jindian_look">进店查看</span>
					</td>
				</tr>
				<tr class="pro_dp">
					<td class="del del_dp"></td>
					<td class="checkbox"><input type="checkbox" name="items" value="足球"/></td>
				    <td class="company_name">
					<span class="company_mz">杭州卓华卫浴洁具有限公司</span>
					<span class="connect_con"><span class="connect"><i class="ww_icon"><img src="images/ww.png" width="23" height="25"/></i>
					<i>和我联系</i></span></span>
					<span class="collect_rq">收藏人气：554</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_con">
					<span class="scdp_bg"><img src="images/sc_shop.png" width="153" height="153"/></span>
					<span>￥555.00</span>
					</td>
					<td class="scdp_look">
					<span class="jindian_look">进店查看</span>
					</td>
				</tr>
			</tbody>
			</table>
			<div class="table_bottom">
			<ul class="items_ye">
			<li class="item_s">
			<span>上一页</span>
			</li><li class="item_ys item_bg">
			<span>1</span>
			</li>
			<li class="item_ys">
			<span>2</span>
			</li>
			<li class="item_ys">
			<span>3</span>
			</li>
			<li class="item_s">
			<span>下一页</span>
			</li>
			<li class="item_tatol">
			<span>共3页</span>
			</li>
			</ul>
			</div>
		</div>
		<h1 class="top_coll">为您推荐</h1>
		<div class="tj_list">
			<table id="table">
			<tbody>
				<tr class="pro_sc">
				    <td class="img_pro"><img src="images/sc_shop.png" width="234" height="234"/></td>
					<td class="xqjs"><p class="txt_wb">本文是我在学习一个开源的 Ajax 库时所总结的内容，本文是我在学习一个开源的 Ajax 库时总共分为了</p></td>
					<td class="tj_price">￥588.00</td>
					<td class="share_btn"><span class="share_bg"></span><span class="share_sc">收藏</span></td>
				</tr>
				<tr class="pro_sc">
				    <td class="img_pro"><img src="images/sc_shop.png" width="234" height="234"/></td>
					<td class="xqjs"><p class="txt_wb">本文是我在学习一个开源的 Ajax 库时所总结的内容，本文是我在学习一个开源的 Ajax 库时总共分为了</p></td>
					<td class="tj_price">￥588.00</td>
					<td class="share_btn"><span class="share_bg"></span><span class="share_sc">收藏</span></td>
				</tr>
				<tr class="pro_sc">
				    <td class="img_pro"><img src="images/sc_shop.png" width="234" height="234"/></td>
					<td class="xqjs"><p class="txt_wb">本文是我在学习一个开源的 Ajax 库时所总结的内容，本文是我在学习一个开源的 Ajax 库时总共分为了</p></td>
					<td class="tj_price">￥588.00</td>
					<td class="share_btn"><span class="share_bg"></span><span class="share_sc">收藏</span></td>
				</tr>
				<tr class="pro_sc">
				    <td class="img_pro"><img src="images/sc_shop.png" width="234" height="234"/></td>
					<td class="xqjs"><p class="txt_wb">本文是我在学习一个开源的 Ajax 库时所总结的内容，本文是我在学习一个开源的 Ajax 库时总共分为了</p></td>
					<td class="tj_price">￥588.00</td>
					<td class="share_btn"><span class="share_bg"></span><span class="share_sc">收藏</span></td>
				</tr>
				<tr class="pro_sc">
				    <td class="img_pro"><img src="images/sc_shop.png" width="234" height="234"/></td>
					<td class="xqjs"><p class="txt_wb">本文是我在学习一个开源的 Ajax 库时所总结的内容，本文是我在学习一个开源的 Ajax 库时总共分为了</p></td>
					<td class="tj_price">￥588.00</td>
					<td class="share_btn"><span class="share_bg"></span><span class="share_sc">收藏</span></td>
				</tr>
				<tr class="pro_sc">
				    <td class="img_pro"><img src="images/sc_shop.png" width="234" height="234"/></td>
					<td class="xqjs"><p class="txt_wb">本文是我在学习一个开源的 Ajax 库时所总结的内容，本文是我在学习一个开源的 Ajax 库时总共分为了</p></td>
					<td class="tj_price">￥588.00</td>
					<td class="share_btn"><span class="share_bg"></span><span class="share_sc">收藏</span></td>
				</tr>
				<tr class="pro_sc">
				    <td class="img_pro"><img src="images/sc_shop.png" width="234" height="234"/></td>
					<td class="xqjs"><p class="txt_wb">本文是我在学习一个开源的 Ajax 库时所总结的内容，本文是我在学习一个开源的 Ajax 库时总共分为了</p></td>
					<td class="tj_price">￥588.00</td>
					<td class="share_btn"><span class="share_bg"></span><span class="share_sc">收藏</span></td>
				</tr>
				<tr class="pro_sc">
				    <td class="img_pro"><img src="images/sc_shop.png" width="234" height="234"/></td>
					<td class="xqjs"><p class="txt_wb">本文是我在学习一个开源的 Ajax 库时所总结的内容，本文是我在学习一个开源的 Ajax 库时总共分为了</p></td>
					<td class="tj_price">￥588.00</td>
					<td class="share_btn"><span class="share_bg"></span><span class="share_sc">收藏</span></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
<!--   引入jQuery -->
<script src="js/jquery/jquery-1.3.1.js" type="text/javascript"></script>
<script src="js/delelect.js" type="text/javascript"></script>
<script src="js/collect_check.js" type="text/javascript"></script>
</body>
</html>