<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>商品详情页</title>
<link href="css/shop_xq.css" rel="stylesheet" type="text/css"/>
<link href="css/detail.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/style_footer.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--top-->
<div class="public_top">
	<div class="wrapper_top">
		<div class="user">
		<span><a>手机五维商城</a></span>
		<span><a>[登陆]</a></span>
		<span><a>新用户？</a></span>
		<span><a>[免费注册]</a></span>
		</div>
		<div class="menu_right">
		<ul class="menu_top">
		<li class="menu_1">五维商城首页</li><span class="icon_y">|</span>
		<li class="menu_2">个人中心</li><span class="icon_y">|</span>
		<li class="menu_3">进货单</li><span class="icon_y">|</span>
		<li class="menu_4">收藏夹<span class="sl">0</span></li><span class="icon_y">|</span>
		<li class="menu_5">客服中心</li>
		</ul>
		</div>
	</div>
</div>
<!--/top-->
<!--head-->
<div class="header_wrap headdle">
	<div class="public_header">
		<div class="logo"><img src="images/logo.png"/></div>
			<div class="company sc_biaoyu">
			<span>广州三雄极光木业有限公司</span>
			<p>
			<span><img src="images/renz.png" width="30" height="23"/></span>
			<span><img src="images/wang.png" width="30" height="23"/></span>
			</p>
			</div>
		<div class="header_search">
			<div class="tab_main_search">
				<div class="tab_search">
					<ul>
						<li class="selected">商品</li>
						<li>店铺</li>
					</ul>
				</div>
				<div class="tab_search_find"> 
					<div>
					<div class="search search_1">
					<input type="text" name="s" class="textbox" value="请您输入商品关键字" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '请您输入商品关键字';}">
					<input type="submit" value="Subscribe" id="submit" name="submit"><a class="sh">搜索</a>
					<div class="response"></div>
				    </div>
				    </div>
					<div class="hide">
					<div class="search search_1">
					<input type="text" name="s" class="textbox" value="请您输入店铺关键字" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '请您输入商品关键字';}">
					<input type="submit" value="Subscribe" id="submit" name="submit"><a class="sh">搜索</a>
					<div class="response"></div>
				    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="fabu">发布询价单</div>
		<div class="erwm">
		<p><img src="images/erweim.png" width="59" height="58"></p>
		<p>扫一扫，下载APP</p>
		</div>
	</div>
</div><!--/head-->
<!--主体内容-->
<div class="main_content">
    <div class="wrap_content">
	    <!--banner-->
		<div class="xq_banner">
		<img src="images/banner/company.jpg" width="1222" height="350"/>
		</div>
		<!--nav-->
		<div class="nav">
		<ul>
		<li><a>名企首页</a></li>
		<li><a>展品展示</a></li>
		<li><a>公司简介</a></li>
		<li><a>在线咨询</a></li>
		</ul>
		</div>
		<!--商品详情-->
		<div id="content" class="global_module">
			<h3><span>首页></span><span>木竹材料></span><span>木竹饰面家具</span></h3>
			<div class="pro_detail">
				<div class="pro_detail_left">
					<div class="jqzoom"><img src="images/pro_img/blue_one_small.jpg" class="fs" alt=""  jqimg="images/pro_img/blue_one_big.jpg" id="bigImg"/></div>
					
					<ul class="imgList">
						<li><img src="images/pro_img/blue_one.jpg" alt="" /></li>
						<li><img src="images/pro_img/blue_two.jpg" alt="" /></li>
						<li><img src="images/pro_img/blue_three.jpg" alt="" /></li>
					</ul>
					<div class="sc"><i class="sc_bg"><img src="images/colect.png" width="21" height="21"/></i><i>收藏商品</i><i>（1010）</i></div>
				</div>
				<div class="pro_detail_right">
					<h4 class="hh_tittle"><span>厂家供应</span><span>柳桉木材料</span><span>户外防腐碳化物木板</span><span>樟子松防腐木</span></h4>
					<div class="guige">
					<ul>
					<li><span>价格:</span><span>起批量:</span></li>
					<li><span class="gg_price">￥68.8</span><span class="shul">1-99片</span></li>
					<li><span class="gg_price">￥58.8</span><span class="shul">100-1999片</span></li>
					<li><span class="gg_price">￥48.8</span><span class="shul">>=2000片</span></li>
					</ul>
					</div>
					<div class="color_change">
						<span class="change_color">色系：</span>
						<p class="choose_ys">
						<span>蓝白</span>
						<span>蓝白</span>
						<span>蓝白</span></p>
						<!--<strong>蓝白</strong>-->
						<ul class="img_chage">
							<li><img src="images/pro_img/blue.jpg" alt="蓝白" /></li>
							<li><img src="images/pro_img/yellow.jpg" alt="黄白" /></li>
							<li><img src="images/pro_img/green.jpg" alt="粉绿" /></li>
						</ul>
					</div>
					<div class="cell_main">
					<div class="cell_left"><span class="guiges">规格</span><span class="gg_sxxx">正宗缅甸木板</span></div>
					<div class="cell_right">
					<p class="gg"><span>最大购买量：</span><span>1060片</span></p>
					<!-- 加减商品的计算盒子 cell p-quantity开始-->
								<input id="min" name="" type="button" value="-"   
									style=""/>  
								<input id="text_box" name="" type="text" value="10" readonly= "true"   
									style=""/>  
								<input id="add" name="" type="button" value="+"   
									style=""/>
							 
							  <!-- 加减商品的计算盒子 cell p-quantity结束-->
					</div>
					</div>
					<p class="pr_price"><span class="jiage_price">价格</span><span class="shuliang">100片</span><span>|</span><span class="zong_price">￥5880.00</span></p>
					<div class="btn_button"><span class="goumai">立即购买</span><span  class="jinhuo">加入进货单</span></div>
					<p class="fangshi"><span>支付方式</span><span>支付宝</span><span>网银</span><span>信用卡</span></p>
				</div>
			</div>
		<!--右侧推荐-->
		    <div class="pro_detail_last">
			<div class="last_list">
			<span class="last_list_line"></span>
			<span class="last_list_wz">同类推荐</span>
			</div>
			<div class="repai_lunbo">
			 <ul class="imlist">
				<li>
					<ul class="serious_repai">
						<li>
							<div class="li_box">
								<a href="javascript:void(0);">
									<span></span>
									<img src="images/tuijian.jpg" alt="">
								</a>
								<div> 
									<p class="now_pirce">3280元</p>
								</div>
							</div>
							 <div class="li_box">
								<a href="javascript:void(0);">
									<span></span>
									<img src="images/tuijian.jpg" alt="">
								</a>
								<div>
									<p class="now_pirce">3280元</p>
								</div>
							</div>
							<div class="li_box">
								<a href="javascript:void(0);">
									<span></span>
									<img src="images/tuijian.jpg" alt="">
								</a>
								<div>
									 <p class="now_pirce">3280元</p>
								</div>
							</div>
						</li>
					</ul>
				</li>
			 </ul>
            </div>
			<div class="bttons">
				<a class="tpBtn"></a>
				<a class="bttomBtn"></a>
			</div>
		</div><!--/右侧商品-->
		</div><!--商品详情-->
		<!--商品评价-->
		<div class="main_middle">
			<div class="left_main_con">
				<div class="main_middle_left">
				<span class="t_title">公司简介</span>
				<p class="title_qing"><a>广州三雄极光木业有限公司</a></p>
				<p class="tit"><a><img src="images/renz.png" width="30" height="23" title="" alt=""/></a></p>
				<p class="tit_bottom_t"><a class="_dz">联系卖家:</a><a class="img_icon"><img src="images/wang.png" width="30" height="23" title="" alt=""/></a></p>
				<p class="tit"><a>满意度:</a><a>5</a></p>
				<p class="tit"><a>经营模式:</a><a>生产厂家</a></p>
				<p class="tit"><a>所在地区:</a><a>广州</a><a>佛山</a></p>
				<p class="tit_bottom_t"><span class="jdgg">进入店铺</span><span class="sc_btn">收藏商品</span></p>
				</div>
				<div class="left_main_bottom">
				<h1 class="dian_titile">店铺产品分类</h1>
				<ul>
				<li>>圆木</li>
				<li>>方木</li>
				<li>>木门窗系列</li>
				<li>>木门系列</li>
				<li>>其他</li>
				</ul>
				</div>
			</div>
			<div class="main_middle_right">
				<div class="tab">
					<div class="tab_menu">
						<ul>
							<li class="selected">图文详情</li><span class="line-y">|</span>
							<li>商品评价(1080)</li>
						</ul>
					</div>
					<div class="tab_box">
						<div>
						<ul class="xifen">
						<li>
						<span>品牌</span><span>三雄 极光</span>
						</li>
						<li>
						<span>品名</span><span>实木板</span>
						</li>
						<li>
						<span>品类</span><span>原木</span>
						</li>
						<li>
						<span>树种</span><span>三雄极光</span>
						</li>
						<li>
						<span>产地</span><span>浙江</span>
						</li>
						<li>
						<span>等级</span><span>1</span>
						</li>
						<li>
						<span>表现密度</span><span>高</span>
						</li>
						<li>
						<span>抗弯强度 </span><span>强</span>
						</li>
						<li>
						<span>抗弯强度 </span><span>强</span>
						</li>
						<li>
						<span>特殊功能</span><span>耐腐蚀</span>
						</li>
						</ul>
						<div class="spxg_shop"><img src="images/shop_xq.jpg" width="866" height="2407"/></div>
						</div>
						<div class="hide">
						<div class="title_til"><span>商品满意度:</span><span class="sz_pf">5.0</span><span>分</span>
							<span class="tongji">(统计结果截止到昨天)</span>
						</div>
							<div class="tab">
								<div class="tab_menu tab_pinglun">
								<ul>
									<li class="tab_xinggq selected">全部(1080）</li><span class="line-y">|</span>
									<li class="tab_xinggq">有图评价(20)</li><span class="line-y">|</span>
									<li class="tab_xinggq">好评(900)</li><span class="line-y">|</span>
									<li class="tab_xinggq">中评(90)</li><span class="line-y">|</span>
									<li class="tab_xinggq">差评(24)</li>
								</ul>
								</div>
								<div class="tab_box">
									<div>
										<div class="conten_wrap">
										<div class="all_left">
										<span class="admin_logo"><img src="images/admin.png" width="55" height="55"/></span>
										<span class="admin_name">夜******</span>
										<span class="rz_logo"><img src="images/renz.png" width="30" height="23"></span>
										</div>
										<div class="all_right">
											<div class="top_allr">
												<ul>
												<li class="pf_smart"><i>评分</i><span>1</span><span>2</span><span>3</span><span class="huis">4</span><span class="huis">5</span></li>
												<li><i>数量:</i><span>20片</span></li>
												<li><i>颜色:</i><span>ffdd00</span></li>
												<li><i>尺寸:</i><span>93*65</span></li>
												</ul>
												<p class="pinlun_con">非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐</p>
												<p class="time_pl"><span class="time_rq">2016-04-23</span><span class="time_second">15:40:10</span></p>
											</div>
										</div>
										</div>
										<div class="conten_wrap">
										<div class="all_left">
										<span class="admin_logo"><img src="images/admin.png" width="55" height="55"/></span>
										<span class="admin_name">夜******</span>
										<span class="rz_logo"><img src="images/renz.png" width="30" height="23"></span>
										</div>
										<div class="all_right">
											<div class="top_allr">
												<ul>
												<li class="pf_smart"><i>评分</i><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span></li>
												<li><i>数量:</i><span>20片</span></li>
												<li><i>颜色:</i><span>ffdd00</span></li>
												<li><i>尺寸:</i><span>93*65</span></li>
												</ul>
												<p class="pinlun_con">非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐值得推荐非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐值得推荐</p>
												<p class="time_pl"><span class="time_rq">2016-04-23</span><span class="time_second">15:40:10</span></p>
											</div>
										</div>
										</div>
										<div class="conten_wrap">
										<div class="all_left">
										<span class="admin_logo"><img src="images/admin.png" width="55" height="55"/></span>
										<span class="admin_name">夜******</span>
										<span class="rz_logo"><img src="images/meirz.png" width="30" height="23"></span>
										</div>
										<div class="all_right">
											<div class="top_allr">
												<ul>
												<li class="pf_smart"><i>评分</i><span>1</span><span>2</span><span>3</span><span class="huis">4</span><span class="huis">5</span></li>
												<li><i>数量:</i><span>20片</span></li>
												<li><i>颜色:</i><span>ffdd00</span></li>
												<li><i>尺寸:</i><span>93*65</span></li>
												</ul>
												<p class="pinlun_con">非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐值得推荐非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐值得推荐</p>
												<div class="tab">
													<div class="shop_tup tab_tup">
													<ul>
													<li class="selected"><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													<li><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													<li><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													<li><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													</ul>
													</div>
													<div class="tab_big">
														<div class="one_img">
														<img src="images/pjylt.png" width="307" height="307" title="" alt=""/>
														</div>
														<div class="hide">
														<img src="images/sc_shop.png" width="307" height="307" title="" alt=""/>
														</div>
														<div class="hide">
														<img src="images/pjylt.png" width="307" height="307" title="" alt=""/>
														</div>
														<div class="hide">
														</div>
													</div>
												</div>
												<p class="time_pl"><span class="time_rq">2016-04-23</span><span class="time_second">15:40:10</span></p>
											</div>
										</div>
										</div>
										<div class="conten_wrap">
										<div class="all_left">
										<span class="admin_logo"><img src="images/admin.png" width="55" height="55"/></span>
										<span class="admin_name">夜******</span>
										<span class="rz_logo"><img src="images/renz.png" width="30" height="23"></span>
										</div>
										<div class="all_right">
											<div class="top_allr">
												<ul>
												<li class="pf_smart"><i>评分</i><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span></li>
												<li><i>数量:</i><span>20片</span></li>
												<li><i>颜色:</i><span>ffdd00</span></li>
												<li><i>尺寸:</i><span>93*65</span></li>
												</ul>
												<p class="pinlun_con">非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐值得推荐非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐值得推荐</p>
													<div class="shop_tup tab_tup">
													<ul>
													<li class="selected"><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													<li><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													<li><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													<li><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													</ul>
													</div>
												<p class="time_pl"><span class="time_rq">2016-04-23</span><span class="time_second">15:40:10</span></p>
											</div>
										</div>
										</div>
									</div>
									<div class="hide">
										<div class="conten_wrap">
										<div class="all_left">
										<span class="admin_logo"><img src="images/admin.png" width="55" height="55"/></span>
										<span class="admin_name">夜******</span>
										<span class="rz_logo"><img src="images/renz.png" width="30" height="23"></span>
										</div>
										<div class="all_right">
											<div class="top_allr">
												<ul>
												<li class="pf_smart"><i>评分</i><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span></li>
												<li><i>数量:</i><span>20片</span></li>
												<li><i>颜色:</i><span>ffdd00</span></li>
												<li><i>尺寸:</i><span>93*65</span></li>
												</ul>
												<p class="pinlun_con">非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐值得推荐非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐值得推荐</p>
													<div class="shop_tup tab_tup">
													<ul>
													<li class="selected"><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													<li><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													<li><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													<li><img src="images/plzs.png" width="73" height="73" title="" alt=""/></li>
													</ul>
													</div>
												<p class="time_pl"><span class="time_rq">2016-04-23</span><span class="time_second">15:40:10</span></p>
											</div>
										</div>
										</div>
									</div>
									<div class="hide">
										<div class="conten_wrap">
										<div class="all_left">
										<span class="admin_logo"><img src="images/admin.png" width="55" height="55"/></span>
										<span class="admin_name">夜******</span>
										<span class="rz_logo"><img src="images/renz.png" width="30" height="23"></span>
										</div>
										<div class="all_right">
											<div class="top_allr">
												<ul>
												<li class="pf_smart"><i>评分</i><span>1</span><span>2</span><span>3</span><span class="huis">4</span><span class="huis">5</span></li>
												<li><i>数量:</i><span>20片</span></li>
												<li><i>颜色:</i><span>ffdd00</span></li>
												<li><i>尺寸:</i><span>93*65</span></li>
												</ul>
												<p class="pinlun_con">非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐</p>
												<p class="time_pl"><span class="time_rq">2016-04-23</span><span class="time_second">15:40:10</span></p>
											</div>
										</div>
										</div>
									</div>
									<div class="hide">
									<div class="conten_wrap">
										<div class="all_left">
										<span class="admin_logo"><img src="images/admin.png" width="55" height="55"/></span>
										<span class="admin_name">夜******</span>
										<span class="rz_logo"><img src="images/renz.png" width="30" height="23"></span>
										</div>
										<div class="all_right">
											<div class="top_allr">
												<ul>
												<li class="pf_smart"><i>评分</i><span>1</span><span>2</span><span>3</span><span class="huis">4</span><span class="huis">5</span></li>
												<li><i>数量:</i><span>20片</span></li>
												<li><i>颜色:</i><span>ffdd00</span></li>
												<li><i>尺寸:</i><span>93*65</span></li>
												</ul>
												<p class="pinlun_con">非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐</p>
												<p class="time_pl"><span class="time_rq">2016-04-23</span><span class="time_second">15:40:10</span></p>
											</div>
										</div>
										</div>
									</div>
									<div class="hide">
									<div class="conten_wrap">
										<div class="all_left">
										<span class="admin_logo"><img src="images/admin.png" width="55" height="55"/></span>
										<span class="admin_name">夜******</span>
										<span class="rz_logo"><img src="images/renz.png" width="30" height="23"></span>
										</div>
										<div class="all_right">
											<div class="top_allr">
												<ul>
												<li class="pf_smart"><i>评分</i><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span></li>
												<li><i>数量:</i><span>20片</span></li>
												<li><i>颜色:</i><span>ffdd00</span></li>
												<li><i>尺寸:</i><span>93*65</span></li>
												</ul>
												<p class="pinlun_con">非常不错，值得推荐，下次还会再来买的，值得推荐值得推荐</p>
												<p class="time_pl"><span class="time_rq">2016-04-23</span><span class="time_second">15:40:10</span></p>
											</div>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--商品评价-->
	</div>
</div>	
<!--footer-->
<div class="footer">
	<div class="footer_con">
		<div class="left_foot">
		<div class="left_top">
		<span><img src="images/logo.png"/></span>
		<span class="tit_foot">为家而来，因你而美</span>
		</div>
		</div>
		<div class="mlddle_foot_con">
		<div class="mlddle_foot">
			<ul>
			<li>
			<span>新手入门</span>
			<a>用户注册</a>
			<a>密码修改</a>
			<a>发布求购</a>
			<a>在线询价</a>
			<a>在线交易</a>
			</li>
			<li>
			<span>采购商帮助</span>
			<a>查找公司</a>
			<a>发布求购</a>
			<a>在线询价</a>
			</li>
			<li>
			<span>供应商帮助</span>
			<a>公司认证</a>
			<a>如何开店</a>
			<a>店铺管理</a>
			<a>上架商品</a>
			</li>
			<li>
			<span>支付方式</span>
			<a>支付宝</a>
			<a>银联</a>
			<a>微信</a>
			</li>
			<li>
			<span>客服中心</span>
			<a>常见问题</a>
			<a>新闻公告</a>
			<a>意见反馈</a>
			</li>
			<li>
			<span>关于五维商城</span>
			<a>公司介绍</a>
			<a>企业文化</a>
			<a>人才招聘</a>
			<a>关于我们</a>
			</li>
			</ul>
		</div>
		</div>
	</div>
</div>
<script src="js/jquery/jquery-1.3.1.js" type="text/javascript"></script>
<!--尺寸选择-->
<script src="js/jquery/jquery.jqzoom.js" type="text/javascript"></script>
<!--放大镜-->
<script src="js/jquery/jquery.livequery.js" type="text/javascript"></script>
<!--放大镜-->
<script src="js/jquery/use_jqzoom.js" type="text/javascript"></script>
<!--放大图显示-->
<script src="js/jquery/jquery.thickbox.js" type="text/javascript"></script>
<!--评论-->
<script src="js/jquery/tab.js" type="text/javascript"></script>
<!--根据小图颜色改变大图颜色-->
<script src="js/jquery/switchColor.js" type="text/javascript"></script>
<!--根据小图图片改变大图-->
<script src="js/jquery/switchImg.js" type="text/javascript"></script>
<!--店铺，商品选择切换-->
<script src="js/jquery/index_tab.js" type="text/javascript"></script>
</body>
</html>
