<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>卖家中心</title>
<link href="css/collect.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/zhongtai.css" rel="stylesheet" type="text/css"/>
<body>
<!--top-->
<div class="public_top">
	<div class="wrapper_top">
		<div class="user">
		<span><a>手机五维商城</a></span>
		<span><a>[登陆]</a></span>
		<span><a>新用户？</a></span>
		<span><a>[免费注册]</a></span>
		</div>
		<div class="menu_right">
		<ul class="menu_top">
		<li class="menu_1"><a>五维商城首页</a></li><span class="icon_y">|</span>
		<li class="menu_2"><a>个人中心</a><span class="clcle"></span></li><span class="icon_y">|</span>
		<li class="menu_3"><a>进货单</a></li><span class="icon_y">|</span>
		<li class="menu_4"><a>收藏夹<span class="sl">0</span></a></li><span class="icon_y">|</span>
		<li class="menu_5"><a>客服中心</a></li>
		</ul>
		</div>
	</div>
</div>
<!--header-->
<div class="header">
	<div class="header_con">
	<div class="zt_logo_collect">
	<span class="logo_jinhuo"><img src="images/logo.png" width="180" height="55" title="" alt=""/></span>
	<span class="coll_mj">卖家中心
	<span class="collect_icon"></span>
	<a href="ZT_maijiazhongxinxin.html"><span class="maiji_zx">买家中心</span></a>
	</span>
	</div>
	<span class="line"></span>
	<ul class="nav_coll">
		<li class="s_num1" style="background: #ef5e00;"><a>首页</a></li>
		<li class="s_num2"><a href="collect_dp.html">个人资料管理</a></li>
	</ul>
	</div>
</div><!--header-->
<!--wrapp-->
<div class="wrapp">
	<div class="wrapp_con">
		<div class="wrapp_con_left">
			<ul class="jy">
			<li class="wbh">交易管理</li>
			<li><a>已卖出的货品</a></li>
			<li><a>评价管理</a></li>
			</ul>
			<ul>
			<li class="wbh">商品管理</li>
			<li><a>发布供应商品</li></li>
			<li><a>销售中的商品</a></li>
			<li><a>未上架的产品</a></li>
			</ul>
			<ul>
			<li class="wbh">店铺管理</li>
			<li><a>公司简介</li></li>
			<li><a>店铺装修</a></li>
			<li><a>查看店铺</a></li>
			<li><a>相册管理</a></li>
			</ul>
			<ul>
			<li class="wbh">物流管理</li>
			<li><a>物流发货</li></li>
			</ul>
			<ul>
			<li class="wbh">其他服务</li>
			<li><a>交易资料管理</li></li>
			<li><a>商家认证</a></li>
			<li><a>退款退货管理</a></li>
			<li><a>我要推广</a></li>
			</ul>
		</div><!--wrapp_con_left-->
		<div class="wrapp_con_middle">
			<div class="con_middle_top">
				<div class="mj_logo">
				<img src="images/mj_logo.png" width="56" height="56"/>
				</div>
				<ul class="midd_company">
				<li><span>wuwei</span><span></span></li>
				<li>广州粤志照明有限公司</li>
				</ul>
				<ul class="right_lis">
				<li><a>我的旺铺</a></li>
				<li><a>个人资料管理</a></li>
				<li><a>收藏夹</a></li>
				<li><a>我的消息</a></li>
				</ul>
				<ul class="zt_dp">
				<li><span class="dp_zt">店铺状态</span><span class="zhuying">主营行业:</span><span>室内灯具/室内灯具</span></li>
				<li><span class="zhuying">经营模式:</span><span>经销批发经营</span></li>
				</ul>
			</div>
			<div class="con_middle_middl">
				<div class="daiban">
				<ul class="daib">代办提醒</ul>
				<ul class="two_list">
				<li><span>交易管理:</span></li>
				<li><a><span>待报价</span><span class="sz_db">0</span></a></li>
				<li><a><span>待买家付款<span class="sz_db">2<span></a></li>
				<li><a><span>待发货</span><span class="sz_db">5</span></a></li>
				<li><a><span>待卖家收货</span><span class="sz_db">5</span></a></li>
				<li class="six_d"><a><span>待退款退货</span><span class="sz_db">2</span></a></li>
				<li><a><span>待处理售后</span><span class="sz_db">0</span></a></li>
				<li><a><span>待评价</span><span class="sz_db">0</span></a></li>
				</ul>
				<ul class="three_list">
				<li><span>商品管理:</span></li>
				<li><a><span>销售中</span><span class="sz_db">0</span></a></li>
				<li><a><span>未上架</span><span class="sz_db">0</span></a></li>
				<li><a><span>已下架</span><span class="sz_db">9</span></a></li>
				</ul>
				</div>
			</div>
			<div class="con_middle_middl">
				<div class="daiban">
				<ul class="daib">店铺经营状况</ul>
				<ul class="two_pingfen">
				<li class="dtpf"><span>店铺动态评分</span></li>
				<li class="pfbz">
				<span class="pf_one">描述相符<span>4.9</span></span>
				<span class="pf_one">服务态度<span>4.9</span></span>
				<span class="pf_one">发货速度<span>4.9</span></span>
				</li>
				<li class="touxiang"><span class="sijiu">4.9</span><span class="toux"><img src="images/maijiazx.png" width="68" height="72"/></span></li>
				</ul>
				<ul class="three_wuliu">
				<li class="dtpf"><span>物流服务</span></li>
				<li class="pfbz">
				<a><span class="pf_one">未发货<span>1</span></span></a>
				<a><span class="pf_one">已发货<span>5</span></span></a>
				<a><span class="pf_one">运输中<span>1</span></span></a>
				</li>
				<li class="th_wl_r">
				<a><span>我要发货</span></a>
				<a><span>查看详情</span></a>
				<a><span>查看详情</span></a>
				</li>
				</ul>
				</div>
			</div>
	</div>
	<div class="wrapp_con_right">
		<div class="top_rig">
		<p class="gongga">
		<span>公告</span>
		<a><span class="mm">></span></a>
		</p>
		<ul>
		<li><a><span>【公告】</span>我的公告</a></li>
		<li><a><span>【产品】</span>地表实力产地直供</a></li>
		<li><a><span>【促销】</span>我的公告</a></li>
		<li><a><span>【活动】</span>我的公告我的公告我的公告我的公告我的公告我的公告我的公告</a></li>
		<li><a><span>【公告】</span>我的公告</a></li>
		</ul>
		</div>
		<div class="top_mid">
		<p class="gongga">
		<span>客服中心</span>
		<span class="MORE"><a>更多></a></span>
		</p>
		<ul>
		<li><a><span class="num_1"></span>客服电话</a></li>
		<li><a><span class="num_2"></span>意见反馈</a></li>
		<li><a><span class="num_3"></span>退款/退货纠纷</a></li>
		</ul>
		</div>
		<div class="tab">
		<div class="tab_menu">
			<ul class="tabs_f1 ">
				<li class="selected"><a href="javascript:void(0);">买家中心</a></li>
				<li><a href="javascript:void(0);">卖家中心</a></li>
				<a><span class="dayu">></span></a>
			</ul>
		</div>
		<div class="tab_box">
			<div>
			<ul class="mjbd">
			<li><a><span></span>买家必读</a></li>
			<li><a><span></span>买家必读</a></li>
			<li><a><span></span>买家必读卖家家必读卖家家必读卖家家必读卖家家必读卖家家必读卖家家必读卖家家必读卖家家必读卖家家必读卖家家必读</a></li>
			</ul>
			</div>
			<div class="hide">
			<ul>
			<li><a><span></span>买家必读</a></li>
			<li><a><span></span>买家必读</a></li>
			<li><a><span></span>卖家家必读卖家家必读</a></li>
			</ul>
			</div>
		</div>
		</div>
	</div>
</div>
<div class="footer_zt">
<div class="zt_footer_mian">
	<div class="zt_foot_left">
	<p>
	<span class="phone_bg"></span><span class="zt_wz_ph">全国统一免费咨询热线：</p>
	<span class="zt_phone">020-8963-5818</span>
	</div>
	<div class="zt_foot_right">
	<p class="youqlj">
		<span>友情链接：</span>
		<span><a>粤志照明</a></span><span>|</span><span><a>仁迪照明</a></span><span>|</span>
		<span><a>创意灯照明</a></span><span>|</span>
		<span><a>大照明</a></span><span>|</span><span><a>三雄.极光</a></span><span>|</span><span><a>雷士照明</a></span><span>|</span>
		<span><a>飞利浦</a></span><span>|</span><span><a>华艺HY</a></span><span>|</span><span><a>古镇灯饰报</a></span>
		</p>
	<p class="zt_copyright">版权所有 五维商城 copyright@2015-2017 
		<span><a>公司域名</a></span>
		<span><a>法律声明</a></span>
		<span><a>服务条款</a></span>
		<span><a>隐私声明</a></span>
		<span><a>联系我们</a></span>
		</p>
		<p class="zt_beianh">网站备案号许可证：<span>备案号</span></p>
	</div>
</div>
</div>
<!--   引入jQuery -->
<script src="js/jquery/jquery-1.3.1.js" type="text/javascript"></script>
<script src="js/left_shop.js" type="text/javascript"></script>
<!--删除-->
<script src="js/delelect.js" type="text/javascript"></script>
<!--所有checkbox跟着全选的checkbox走-->
<script src="js/collect_check.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){

	var page=1;
	
	if(page==0)
	{
	$(".table_bottom").hide()
	$(".table_bottom2").hide()
	}//符合表达式执行的代码

	else if (page>3)
	{
	$(".table_bottom2").show()
	$(".table_bottom").hide()
	}//符合表达式执行的代码
	$(".coll_mj").hover(function(){
	//$(this).css("background","#ef5e00");
	$(this).find(".maiji_zx").css("display","block");
	},function(){
	$(this).find(".maiji_zx").css("display","none");
	});
});
</script>
</body>
</html>