<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>公司信息</title>
<link href="css/collect.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/zhongtai.css" rel="stylesheet" type="text/css"/>
<body>
<!--top-->
<div class="public_top">
	<div class="wrapper_top">
		<div class="user">
		<span><a>手机五维商城</a></span>
		<span><a>[登陆]</a></span>
		<span><a>新用户？</a></span>
		<span><a>[免费注册]</a></span>
		</div>
		<div class="menu_right">
		<ul class="menu_top">
		<li class="menu_1"><a>五维商城首页</a></li><span class="icon_y">|</span>
		<li class="menu_2"><a>个人中心</a><span class="clcle"></span></li><span class="icon_y">|</span>
		<li class="menu_3"><a>进货单</a></li><span class="icon_y">|</span>
		<li class="menu_4"><a>收藏夹<span class="sl">0</span></a></li><span class="icon_y">|</span>
		<li class="menu_5"><a>客服中心</a></li>
		</ul>
		</div>
	</div>
</div>
<!--header-->
<div class="header">
	<div class="header_con">
	<div class="zt_logo_collect">
	<span class="logo_jinhuo"><img src="images/logo.png" width="180" height="55" title="" alt=""/></span>
	<span class="coll_mj">买家中心
	<span class="collect_icon"></span>
	<a href="ZT_maijiazhongxin.html"><span class="maiji_zx">卖家中心</span></a>
	</span>
	</div>
	<span class="line"></span>
	<ul class="nav_coll">
		<li class="s_num1" style="background: #ef5e00;"><a>首页</a></li>
		<li class="s_num2"><a href="collect_dp.html">个人资料管理</a></li>
	</ul>
	</div>
</div><!--header-->
<!--wrapp-->
<div class="wrapp">
	<div class="wrapp_con">
		<div class="wrapp_con_left">
			<ul class="jy">
			<li class="wbh">交易前</li>
			<li><a>进货单</a></li>
			<li><a>收藏夹</a></li>
			<li><a>收货地址管理</a></li>
			</ul>
			<ul>
			<li class="wbh">交易中</li>
			<li><a>已买到的货品</a></li></li>
			</ul>
			<ul>
			<li class="wbh">交易后</li>
			<li><a>做出的评价</a></li></li>
			<li><a>退款退货处理</a></li>
			</ul>
		</div><!--wrapp_con_left-->
		<div class="right_xinxi">
			<ul class="rig_xx_top">
			<li>基本信息</li>
			<li class="bg_xxin">公司信息</li>
			<li>收货地址管理</li>
			</ul>
			<div class="form">
		    <form method="post" action="">
			<div class="int">
				<label for="username"><strong class="high">*</strong>真实姓名:</label>
				<input type="text" id="username" class="required" />
			</div>
			<div class="int">
				<label for="username">我的部门:</label>
				<input type="text" id="" class="required" />
			</div>
			<div class="int">
				<label for="username">我的职位:</label>
				<input type="text" id="" class="required" />
			</div>
			<div class="int">
			<p class="cgxx">采购产品和销售产品必填一项</p>
				<label for="username"><strong class="high">*</strong>主营产品:</label>
				<label class="caigou" for="username">采购:</label>
				<input type="text" id="" class="required" />
			</div>
			<div class="int xiaoshou">
				<label for="username">销售:</label>
				<input type="text" id="" class="required" />
			</div>
			<div class="int">
				<label for="username"><strong class="high">*</strong>主营行业:</label>
				<input type="text" id="" class="required" />
			</div>
			<div class="zt_sel">
			<p class="p_line"><span class="jingy_ms"><strong class="high">*</strong>经营模式:</span>
			</p>
				<div class="checkboxFour">
				</div>
				<div class="tuizhi">生产厂家</div>
				<div class="checkboxFour checkboxFour_select">
				</div>
				<div class="tuizhi">经销批发</div>
				<div class="checkboxFour">
				</div>
				<div class="tuizhi">招商代理</div>
				<div class="checkboxFour">
				</div>
				<div class="tuizhi">商业服务</div>
				<div class="checkboxFour">
				</div>
				<div class="tuizhi">其他</div>
			</div>
			<div class="int">
				<label for="phone">公司网址:</label>
				<input maxlength="6" type="text" id=""/>
			</div>
			<!--<div class="int">
				<label for="email">请设置邮箱:</label>
				<input type="text" id="email" class="required" />
			</div>
			<div class="int">
				<label for="phone">手机号:</label>
				<span class="prefix">+86</span>
				<input maxlength="11" type="text" id="phone" class="required"/>
			</div>-->
			</form>
			</div>
		</div>
	</div>
</div>
<div class="footer_zt">
<div class="zt_footer_mian">
	<div class="zt_foot_left">
	<p>
	<span class="phone_bg"></span><span class="zt_wz_ph">全国统一免费咨询热线：</p>
	<span class="zt_phone">020-8963-5818</span>
	</div>
	<div class="zt_foot_right">
	<p class="youqlj">
		<span>友情链接：</span>
		<span><a>粤志照明</a></span><span>|</span><span><a>仁迪照明</a></span><span>|</span>
		<span><a>创意灯照明</a></span><span>|</span>
		<span><a>大照明</a></span><span>|</span><span><a>三雄.极光</a></span><span>|</span><span><a>雷士照明</a></span><span>|</span>
		<span><a>飞利浦</a></span><span>|</span><span><a>华艺HY</a></span><span>|</span><span><a>古镇灯饰报</a></span>
		</p>
	<p class="zt_copyright">版权所有 五维商城 copyright@2015-2017 
		<span><a>公司域名</a></span>
		<span><a>法律声明</a></span>
		<span><a>服务条款</a></span>
		<span><a>隐私声明</a></span>
		<span><a>联系我们</a></span>
		</p>
		<p class="zt_beianh">网站备案号许可证：<span>备案号</span></p>
	</div>
</div>
</div>
<!--   引入jQuery -->
<script src="js/jquery/jquery-1.3.1.js" type="text/javascript"></script>
<script src="js/left_shop.js" type="text/javascript"></script>
<!--删除-->
<script src="js/delelect.js" type="text/javascript"></script>
<!--所有checkbox跟着全选的checkbox走-->
<script src="js/collect_check.js" type="text/javascript"></script>
<script src="js/form.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){

	var page=1;
	
	if(page==0)
	{
	$(".table_bottom").hide()
	$(".table_bottom2").hide()
	}//符合表达式执行的代码

	else if (page>3)
	{
	$(".table_bottom2").show()
	$(".table_bottom").hide()
	}//符合表达式执行的代码
	
	$(".coll_mj").hover(function(){
	//$(this).css("background","#ef5e00");
	$(this).find(".maiji_zx").css("display","block");
	},function(){
	$(this).find(".maiji_zx").css("display","none");
	});
	$(".checkboxFour").click(function(){
	$(this).addClass("checkboxFour_select").siblings().removeClass("checkboxFour_select");
	});
	$(".checkboxFive").click(function(){
	$(this).addClass("checkboxFive_select").siblings().removeClass("checkboxFive_select");
	});
});
</script>
</body>
</html>