*{margin:0;padding:0; font-family: "微软雅黑";}
a,img{border:0;}

/* side 返回顶部 */
	.side{position:fixed;width:54px;height:275px;right:0;top:214px;z-index:100;}
	.side ul li{width:54px;height:54px;float:left;position:relative;border-bottom:1px solid #444;list-style-type:none;}
	.side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;background:#000;opacity:0.8;filter:Alpha(opacity=80);color:#fff;font:14px/54px "微软雅黑";overflow:hidden;}
	.side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#000;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
	.side ul li .sidetop:hover{background:#ae1c1c;opacity:1;filter:Alpha(opacity=100);}
	.side ul li img{float:left;}
	
	/*返回顶部结束*/
	
	#head {
		width: 1220px;height: 35px;background: #f6f6f6;margin: 0 auto;position: relative;margin-bottom: 10px;font-family: "微软雅黑";
	}
	#head img {
		margin-top: 9px;margin-right: 5px;
	}
	#head span {
		font-size: 18px;font-weight: bold;position: absolute;top: 6px;color: #4f4f4f;
	}
	#head a {
		float: right;margin-top: 9px;text-decoration: none;color: black;color: #4f4f4f;
	}
	#contact {
		width: 1220px;height:240px;margin: 0 auto;position: relative;margin-bottom: 10px;
	}
	#contact .left {
		width: 254px;height: 240px;background: #F6F6F6;float: left;
	}
	.left p {
		height:35px;font-size: 14px;color:#4f4f4f;line-height: 35px;border-bottom: 1px solid #e5e5e5;padding-left: 8px;margin: 0;padding: 0;
	}
	.left img {
		position: absolute;top: 8px;left:208px ;
	}
	.left ul {
		list-style: none;padding: 0;margin: 0;font-size: 14px;color: #4F4F4F;
	}
	.left ul li {
		float: left;margin-left: 10px;line-height: 30px;
	}
	#imgleft,#imgright {
		position: absolute;
	}
	#imgleft {
		top: 87px;z-index: 999;
	}
	#imgright {
		right: 0;top: 87px;z-index: 999;
	}
	.list {
		width: 159px;height: 238px;border: 1px solid #E5E5E5;float: left;position: relative;
	}
	.listtitle,.listdemand {
		height:34px;font-size: 14px;text-align: center;line-height: 35px;border-bottom: 1px solid #e5e5e5;margin: 0;padding: 0;
	}
	.list ul {
		list-style: none;margin: 0;padding: 0;
	}
	.list ul li {
		font-size:14px;line-height: 32px;margin-left: 21px;
	}
	.price {
		margin: 0;padding: 0;height: 35px;border-top: 1px solid #E5E5E5;position: absolute;bottom: 0;width: 100%;text-align: center;line-height: 35px;
	}
	.price a {
		text-decoration: none;color: #4F4F4F;display: block;
	}
	#right {
		position: relative;
	}
	.adv1 {
		width: 1222px;height: 90px;margin-top: 10px;margin-bottom: 30px;margin: 0 auto;clear: both;overflow: hidden;
	}
	.mainhead,.mainmid {
		width: 1222px;height: 35px;margin: 0 auto;margin-top: 30px;background: #F6F6F6;margin-bottom: 10px;
	}
	.mainhead  img {
		margin-left: 10px;margin-top: 7.5px;float: left;margin-right: 7px;
	}
	.mainmid img {
		margin-left: 10px;margin-top: 7.5px;float: left;margin-right: 7px;
	}
	.mainadv {
		width: 1220px;height: 360px;margin: 0 auto;
	}
	.mainadvimg {
		width: 297.5px;height: 360px;float: left;margin-right: 10px;position: relative;
	}
	.mainadv :last-child{
		margin-right: 0px;
	}
	.mainmask {
		width: 298px;height: 82px;position: absolute;bottom: 0;background: url(../images/img/zhezhao.png);
	}
	.mainmasktitle {
		font-size: 18px;font-weight: bold;text-align: center;margin: 18px 0 5px  ;
	}
	.mainmaskcontent {
		text-align: center;margin-top: 5px;
	}
	.mainmaskprice {
		color: #DB0000;font-weight: bold;font-size: 18px;
	}
	#mainbody {
		width: 1222px;margin: 0 auto;display: block;
	}
	#mainbody .maincontact {
		width: 604px;height: 348px;border: 1px solid #E5E5E5;float: left;margin-right: 10px;margin-bottom: 10px;position: relative;
	}
	.maincontactleft {
		width: 198px;height: 348px;border-right: 1px solid #E5E5E5;background: #F6F6F6;position: relative;
	}
	.maincontactlefttitle {
		font-size: 22px;font-weight: bold;color: #de0101;
	}
	.maincontactleft .advimg {
		position: absolute;top: 66px;left: 16px;
	}
	.maincontactleft span {
		position: absolute;top: 200px;left: 21px;
	}
	.maincontactleft a {
		text-decoration: none;color: #4F4F4F;position: absolute;top: 266px;left: 21px;
	}
	.maincontacttop {
		width: 405px;height: 49px;position: absolute;top: 0;left: 199px;border-bottom: 1px solid #E5E5E5;
	}
	.maincontacttop img {
		margin:20px 0 0 18px ;
	}
	.listbody {
		position: absolute;top: 50px;left: 200px;
	}
	.mainlist {
	   width: 200px;height: 325px;	list-style: none;position: absolute;top: 22px;left:18px;font-size: 12px;line-height: 35px;margin: 0; padding: 0;
	}
	.mainlist li {
		float: left;width: 100px;text-align: left;
	}
	/*.rightimg1,.rightimg2 {
		width: 204px;height: 120px;position: absolute;background: #F6F6F6;text-align:center;display:table;
	}
	.rightimg1 {
		top: 12px;left: 190px;
	}
	.rightimg2 {
		top: 146px;left: 190px;
	}
	.rightimg1 span {
		display: table-cell;vertical-align: middle;
	}
	.rightimg1 span img{
		width: 80px;height: 80px;float: left;margin-left: 18px;
	}
	.rightimg2 span {
		display: table-cell;vertical-align: middle;
	}*/
	.mainrecommend {
		list-style: none;position: absolute;top: 20px;left: 185px;margin: 0;padding: 0;
	}
	.mainrecommend li {
		width: 204px;height: 120px;background: #F6F6F6;margin-bottom: 10px;font-size: 12px;
	}
	.mainrecommend li img {
		margin-top: 30px;margin-left: 12px;
	}
	.mainrecommend li p {
		display: inline-block;width: 60px;margin-left: 10px;
	}
	.mainrecommend .mainprice {
		color: #DD0000;display: inline-block;margin-top: 5px;
	}
	.footadv {
		width: 1220px;height: 35px;margin: 0 auto;background: #F6F6F6;margin-bottom: 10px;clear: both;position: relative;
	}
	.footadv img {
		margin-left: 10px;margin-top: 7.5px;float: left;margin-right: 7px;
	}
	.footer {
		width: 1220px;margin: 0 auto;
	}
	.footerleft {
		width: 468px;height: 300px;float: left;position: relative;border-right: 1px solid #F6F6F6;
	}
	
	.footermid {
		width: 450px;height: 300px;float: left;border-left: 1px solid #F6F6F6;border-right: 1px solid #F6F6F6;
	}
	.footermid ul img {
		margin-right: 5px;
	}
	.footermid ul li {
		line-height: 26px;
	}
	.footerright {
		width: 295px;height: 300px;float: right;
	}
	.footerlefttitle {
		position: absolute;top: 196px;left: 0;background: url(../img/zhezhao2.png);width: 460px;height: 44px;text-align: center;line-height: 44px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight: bold;color: #4f4f4f;
	}
	.footerlefttitle span {
		width: 200px;
	}
	.footermid ul li p{
		font-size: 12px;line-height: 20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width: 300px;display: inline-block;
	}
	.footermid ul li span{
		float: right;line-height: 20px
	}
	.footerright ul li {
		
	}















